<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.incredible_app_for_fit_people">

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".trainings.EditingTrainingActivity"></activity>
        <activity android:name=".trainings.AddingTrainingActivity" />
        <activity android:name=".trainings.TraningMainActivity" />
        <activity android:name=".measurements.MeasurementsMainActivity" />
        <activity
            android:name=".settings.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".measurements.AddingMeasurementChoiseActivity" />
        <activity android:name=".measurements.EditingMeasurementActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="AA_DB_NAME"
            android:value="baza_fajna" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="9" />

        <provider
            android:name="com.activeandroid.content.ContentProvider"
            android:authorities="${applicationId}"
            android:exported="false" />
    </application>

</manifest>